* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background-color: #EDE9E3;
  padding: 70px 0;
}


.nav ul li {
  position: relative;
  float: left;
}

.nav ul li a {
  font-size: 18px;
  padding: 20px;
  color: #111111;
  display: block;
}

#img-carrito {
  max-width: 8vh;
}

.carrito-container {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.carrito-container:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: #4E4E5076;
  padding: 20px;
  min-width: 400px;
}

table {
  width: 100%;
}

th,
td {
  color: #ffff;
}

.header-zapatillas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 200px;
}

.header-img {
  flex-basis: 90%;
  text-align: center;
}

.texto-header {
  flex-basis: 50%;
  text-align: center;
}

.texto-header h1 {
  font-size: 90px;
  text-transform: uppercase;
  line-height: 1;
  color: #111111;
  margin-bottom: 15px;
}

.texto-header p {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btn-ver {
  display: inline-block;
  padding: 20px 45px;
  background-color: #111111;
  color: #ffff;
  border-radius: 5px;
}
