* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  background-color: #EDE9E3;
  padding: 70px 0;
}

.menu-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-logo {
  font-size: 25px;
  color: #111111;
  max-width: 10vh;
}

.menu-container .navbar ul li {
  position: relative;
  float: left;
}

.menu-container .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: #111111;
  display: block;
}

#img-carrito {
  max-width: 8vh;
}
.nav ul li {
  position: relative;
  float: left;
}

.nav ul li a {
  font-size: 18px;
  padding: 20px;
  color: #111111;
  display: block;
}

.logo {
  font-size: 25px;
  color: #111111;
  max-width: 10vh;
}

.header-zapatillas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  padding: 0 500px;
}

.header-img {
  flex-basis: 90%;
  text-align: center;
}

.texto-header {
  flex-basis: 50%;
  text-align: center;
}

.texto-header h1 {
  font-size: 115px;
  text-transform: uppercase;
  line-height: 1;
  color: #111111;
  margin-bottom: 15px;
}

.texto-header p {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btn-ver {
  display: inline-block;
  padding: 25px 50px;
  background-color: #111111;
  color: #ffff;
  border-radius: 7px;
}
